* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

/*Navbar*/
.bg-violet {
  background-color: rgb(58, 47, 85);
}

.nav-item {
  padding: 0 1.5rem;
  font-size: 1.3rem;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: rgb(255, 255, 255);
}

/*Slider*/

.slider {
  position: relative;
}

.carousel-item {
  width: 100%;
  height: auto;
}

.carousel-item img {
  object-fit: cover;
}

.carousel-indicators > li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

/*wyśrodkowanie DIVA translateY!!!!!*/
.carousel-caption {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn-outline-primary {
  border-color: #fff;
  color: #fff;
}

.btn-outline-primary:focus {
  border: none;
}

/*content*/
/* .main-container {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.item {
  max-width: 300px;
  min-width: 100px;
  height: auto;
}

figcaption {
  text-align: center;
}

.photo {
  width: 100%;
}

.row-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.road {
  /* min-height: 300px; */
  background: linear-gradient(
      111.36820033167237deg,
      rgba(122, 122, 122, 0.5) 4.927083333333334%,
      rgba(92, 91, 91, 0.5) 97.84374999999999%
    ),
    url('Bootstrap Website Files/img/map.jpg') center/cover;
  color: white;
}

.road-item {
  max-width: 500px;
}
/*footer*/
footer {
  background: linear-gradient(
      111.36820033167237deg,
      rgba(37, 39, 39, 0.3) 4.927083333333334%,
      rgba(66, 63, 66, 0.3) 97.84374999999999%
    ),
    url('Bootstrap Website Files/img/road.jpg') center/cover;
  color: #fff;
  padding: 3rem 1.5rem;
}

.fa {
  padding: 0 1rem;
}

.fa-compass {
  font-size: 4rem;
}

@media (max-width: 900px) {
  html {
    font-size: 12px;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 9px;
  }
}
