*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

/*Navbar*/
.bg-violet{
    background-color: rgb(63, 8, 95);
}

.nav-item{
    padding: 0 1.5rem;
    font-size: 1.3rem;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: rgb(255,255,255);
}

/*Slider*/

.carousel-item{
    width: 100%;
    height: auto;
}
.carousel-indicators > li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }

  /*wyśrodkowanie DIVA translateY!!!!!*/
  .carousel-caption{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.btn-outline-primary{
    border-color: #fff;
    color: #fff;
}

.btn-outline-primary:focus{
    border: none;
}

/*content*/
.main-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.main-container figure{
    flex-grow: 1;
}

@media(max-width:768px){
    .carousel-caption{
        top: 40%;
        transform: translateY(-50%);
    }

    .carousel-caption h1{
        font-size: 2rem;
    }
}

@media(max-width:500px){
    .carousel-caption{
        top: 33%;
        transform: translateY(-50%);
    }

    .carousel-caption h1{
        font-size: 1.7rem;
    }

    .carousel-caption p{
        font-size: 0.7rem;
    }
}