*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

/*Navbar*/
.bg-violet{
    background-color: rgb(63, 8, 95);
}

.nav-item{
    padding: 0 1.5rem;
    font-size: 1.3rem;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: rgb(255,255,255);
}

/*Slider*/
.carousel-indicators > li {
    width: 10px;
    height: 10px;
    /* border-radius: 100%; */
  }